@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body { 
  margin: 0;
  font-family: 'Manrope', sans-serif !important;
  overflow-x: hidden;
  width: 100%;
}

:root {
  --Primary: #FF6433;
  --secondary: #661CE7;
  --black: #1E1B1B;
  --mint: #00D289;
  --steelgrey: #E2E6E9;
  --light-gray: #F2F2F2;
  --gray: #939191;
}